In [71]:
import fcalc
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
le=LabelEncoder()

In [87]:
df = pd.read_csv('data_sets/Employee.csv')

df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [88]:
df.isnull().sum()

Education                    0
JoiningYear                  0
City                         0
PaymentTier                  0
Age                          0
Gender                       0
EverBenched                  0
ExperienceInCurrentDomain    0
LeaveOrNot                   0
dtype: int64

In [89]:
del df["JoiningYear"]
del df["City"]

In [90]:
df.loc[:, "Education"] = le.fit_transform(df["Education"])
df.loc[:, "Gender"] = le.fit_transform(df["Gender"])
df.loc[:, "EverBenched"] = le.fit_transform(df["EverBenched"])
df

,Education,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,3,34,1,0,0,0
1,0,1,28,0,0,3,1
2,0,3,38,0,0,2,0
3,1,3,27,1,0,5,1
4,1,3,24,1,1,2,1
...,...,...,...,...,...,...,...
4648,0,3,26,0,0,4,0
4649,1,2,37,1,0,2,1
4650,1,3,27,1,0,5,1
4651,0,3,30,1,1,2,0
4652,0,3,33,1,1,4,0

In [91]:
X = df.iloc[:1000,:-1]
y = df[:1000]['LeaveOrNot']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X

    Education  PaymentTier  Age Gender EverBenched  ExperienceInCurrentDomain
0           0            3   34      1           0                          0
1           0            1   28      0           0                          3
2           0            3   38      0           0                          2
3           1            3   27      1           0                          5
4           1            3   24      1           1                          2
..        ...          ...  ...    ...         ...                        ...
995         0            3   26      1           0                          4
996         0            2   26      0           0                          4
997         0            3   28      0           0                          5
998         0            3   28      1           0                          5
999         0            2   26      0           0                          4

[1000 rows x 6 columns]

In [92]:
pat_cls = fcalc.classifier.PatternBinaryClassifier(X_train.values, y_train,categorical=np.array([0,1,3,4,5]), method = "ratio-support")

In [93]:
pat_cls.predict(X_test.values)

In [94]:
from sklearn.metrics import accuracy_score, f1_score
print("accuracy:",round(accuracy_score(y_test, pat_cls.predictions),4))
print("f1 score:",round(f1_score(y_test, pat_cls.predictions),4))

accuracy: 0.7333
f1 score: 0.4444

In [95]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [96]:
def try_models(model):
    model.fit(X_train, y_train)
    
    y_preds = model.predict(X_test)
    
    acc_score = accuracy_score(y_test, y_preds)
    f_score = f1_score(y_test, y_preds)
    
    return (f'Accuracy Score of {model}: {acc_score}',
            f'f1 Score of {model}: { f_score}')

In [97]:
try_models(LogisticRegression())

('Accuracy Score of LogisticRegression(): 0.6966666666666667',
 'f1 Score of LogisticRegression(): 0.4484848484848485')

In [98]:
try_models(RandomForestClassifier(random_state=666))

('Accuracy Score of RandomForestClassifier(random_state=666): 0.76',
 'f1 Score of RandomForestClassifier(random_state=666): 0.5862068965517242')

In [99]:
try_models(KNeighborsClassifier())

('Accuracy Score of KNeighborsClassifier(): 0.7333333333333333',
 'f1 Score of KNeighborsClassifier(): 0.5454545454545454')

In [100]:
try_models(DecisionTreeClassifier())

('Accuracy Score of DecisionTreeClassifier(): 0.73',
 'f1 Score of DecisionTreeClassifier(): 0.547486033519553')